<div class='signup_bg container-fluid w-100 h-100 bg-dark d-flex justify-content-center align-items-center'>
    <div class='signup_container h-75 bg-dark d-flex justify-content-center align-items-center flex-column'>
        <img src="../favicon.ico" class="mb-5" width="100" height="100">
        <h1 class='lead h1 text-white'>Sign-in to your Account</h1>
        <form class="example-form my-3" autocomplete="off">
            <mat-form-field class="example-full-width mt-2" appearance="outline">
                <mat-label>Email</mat-label>
                <input class="text-white" type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com" autocomplete="off">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width mt-2" appearance="outline">
                <mat-label>Password</mat-label>
                <input class="text-white" [type]="isPasswordRevealed ? 'text' : 'password'" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" maxlength="20" placeholder="Password">
                <a href="javascript:;" mat-icon-button color="accent" (click)="isPasswordRevealed = !isPasswordRevealed" matSuffix>
                    <mat-icon>{{isPasswordRevealed ? 'close' : 'remove_red_eye'}}</mat-icon>
                </a>
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <button class='w-100 py-2 my-5' mat-raised-button color="red" 
                [disabled]="(passwordFormControl.hasError('pattern') || emailFormControl.hasError('email')) || (passwordFormControl.hasError('required') || emailFormControl.hasError('required'))">
                SIGN-IN
            </button>
            <p class='text-white text-center pt-5'>Don't have an account? Sign-up <a routerLink="./signup">here!</a></p>
        </form>
    </div>
</div>