.app-comoment-reference{
    .app-comment-vertical-line{
        height: 100%;
        width: 2px;
        background-color: rgb(51, 54, 57);
    }
}

.app-post-file-opt{
    width: 90%;
}

.app-post-file-submit-options{
    margin-top: -20px;
}

.btn-fab-display{
    transform: scale(.8);
}

.app-post-file-preview{
    max-height: 510px;
    border-radius: 15px;
    max-width: 100%;
}

.app-post-file-preview-remove{
    position: absolute;
    margin-top: 5px;
    left: 20px;
}

.app-main-post-description{
    white-space: pre-wrap;
}

.app-post-game{
    font-size: 10px;
    min-height: 25px;
    img{
        width: 19px;
        height: 19px;
    }
}
