<div class="app-container container-fluid w-100 h-100 row justify-content-center align-item-center mx-0 px-0">
  <header class="app-container-left-nav col-2 h-100 border-end border-dark">
    <div class="d-flex justify-content-center flex-column">
      <button class="w-100 mx-2" mat-button>HOME</button>
      <button class="w-100 mx-2" mat-button>HOME</button>
      <button class="w-100 mx-2" mat-button>HOME</button>
      <button class="w-100 mx-2" mat-button>HOME</button>
    </div>
  </header>
  <main class="app-container-main-nav col-9 h-100 row">
      <div class="col-7 h-100 border-dark border-end">left</div>
      <div class="col-5 h-100">right</div>
  </main>
</div>