@import url(../dashboard/dashboard.component.scss);

.app-post-file-preview{
    max-height: 510px;
    max-width: 100%;
    border-radius: 15px;
}

.app-post-file-preview-remove{
    position: absolute;
    margin-top: 5px;
    left: 20px;
}

.app-user-post{
    cursor: pointer
}

.app-main-post-attachment{
    img{
        max-height: 510px;
        border-radius: 5px;
        max-width: 100%;
    }
}

.app-main-post-interaction{
    span{
        font-size: 12px;
        color: #877a7a;
        padding: 0px 10px;
    }
}

.app-main-post-description{
    white-space: pre-wrap;
}

.app-post-game{
    font-size: 10px;
    min-height: 25px;
    img{
        width: 19px;
        height: 19px;
    }
}